<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IRSensorData</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="https://unpkg.com/tabulator-tables@5.2.4/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">
</head>

<style>
  body {
    margin: 1em;
  }
  .tabulator .tabulator-footer{
    background-color: var(--bs-table-bg);
  }
  .tabulator .tabulator-footer .tabulator-page {
    margin: 3px;
    background-color: var(--bs-table-striped-bg);
    color: white;
  }
  .tabulator .tabulator-footer .tabulator-page:disabled {
    background-color: var(--bs-table-bg);
  }
  .tabulator .tabulator-footer .tabulator-page.hover {
    background-color: var(--bs-table-bg);
    color: white;
  }
</style>
<body class="bg-dark text-white">

<div id="data-table" class="table-dark table-striped bg-dark"></div>

<div id="sensor_id_div" th:sensor_id="${sensor_id}"></div>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.2.4/dist/js/tabulator.min.js"></script>
<script src="../app.js"></script>
</body>
</html>