<!DOCTYPE html>
<html lang="en" xmlns:th ="http.//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sensor dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<style>
    body {
        margin: 1em;
    }
</style>
<body class="bg-dark text-white">

<h1>Sensors</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Sensor ID</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each ="sensor : ${sensor_list}">
            <td scope="row" th:text="${sensor.id}">
            <td th:text="${sensor.type}">
            <td><a th:href="@{'/dash/' + ${sensor.id}}">View</a></td>
        </tr>
    </tbody>
</table>

</body>
</html>